name: 'build'

env:
  GO_VERSION: '1.25.7'
  NODE_VERSION: '20'

on:
  push:
    branches:
    - '*'
    tags:
    - 'v*'
  pull_request:
  workflow_dispatch:

jobs:
  build-release:
    runs-on: 'ubuntu-latest'
    steps:
    - name: 'Checkout'
      uses: 'actions/checkout@v2'
      with:
        fetch-depth: 0

    - name: 'Set up Go'
      uses: 'actions/setup-go@v3'
      with:
        go-version: '${{ env.GO_VERSION }}'

    - name: 'Set up Node'
      uses: 'actions/setup-node@v1'
      with:
        node-version: '${{ env.NODE_VERSION }}'

    - name: 'Set up Go modules cache'
      uses: 'actions/cache@v4'
      with:
        path: '~/go/pkg/mod'
        key: "${{ runner.os }}-go-${{ hashFiles('go.sum') }}"
        restore-keys: '${{ runner.os }}-go-'

    - name: 'Get npm cache directory'
      id: 'npm-cache'
      run: 'echo "::set-output name=dir::$(npm config get cache)"'

    - name: 'Set up npm cache'
      uses: 'actions/cache@v4'
      with:
        path: '${{ steps.npm-cache.outputs.dir }}'
        key: "${{ runner.os }}-node-${{ hashFiles('client/package-lock.json') }}"
        restore-keys: '${{ runner.os }}-node-'

    # 核心构建：只编译二进制并打包
    - name: 'Run snapshot build'
      run: 'make SIGN=0 VERBOSE=1 VERSION="v999.999.999" build-release'

    # 上传构建产物（.tar.gz 和 .zip）
    - name: 'Upload artifacts'
      uses: 'actions/upload-artifact@v4'
      with:
        name: 'AdGuardHome-builds'
        path: './dist/'
        retention-days: 1